# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For more info about this file, please see https://docs.github.com/en/enterprise/2.18/user/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in this repo.
*       @mukul-seagate11 @shailesh-vaidya @johnbent 
