[submodule "cortx-hare"]
	path = cortx-hare
	url = https://github.com/Seagate/cortx-hare.git
[submodule "cortx-prvsnr"]
	path = cortx-prvsnr
	url = https://github.com/Seagate/cortx-prvsnr.git
[submodule "cortx-ha"]
	path = cortx-ha
	url = https://github.com/Seagate/cortx-ha.git
[submodule "cortx-manager"]
	path = cortx-manager
	url = https://github.com/Seagate/cortx-manager.git
[submodule "cortx-motr"]
	path = cortx-motr
	url = https://github.com/Seagate/cortx-motr.git
[submodule "cortx-utils"]
	path = cortx-utils
	url = https://github.com/Seagate/cortx-utils.git
[submodule "cortx-experiments"]
	path = cortx-experiments
	url = https://github.com/Seagate/cortx-experiments.git
[submodule "cortx-multisite"]
	path = cortx-multisite
	url = https://github.com/Seagate/cortx-multisite.git
[submodule "cortx-re"]
	path = cortx-re
	url = https://github.com/Seagate/cortx-re.git
[submodule "cortx-k8s"]
	path = cortx-k8s
	url = https://github.com/Seagate/cortx-k8s.git
[submodule "cortx-rgw-integration"]
	path = cortx-rgw-integration
	url = https://github.com/Seagate/cortx-rgw-integration.git
[submodule "cortx-rgw"]
	path = cortx-rgw
	url = https://github.com/seagate/cortx-rgw.git
[submodule "cortx-motr-apps"]
	path = cortx-motr-apps
	url = https://github.com/Seagate/cortx-motr-apps.git
[submodule "cortx-halo"]
	path = cortx-halo
	url = https://github.com/Seagate/cortx-halo.git
