[submodule "cortx-motr"]
	path = cortx-motr
	url = https://github.com/Seagate/cortx-motr.git
[submodule "cortx-s3server"]
	path = cortx-s3server
	url = https://github.com/Seagate/cortx-s3server.git
[submodule "cortx-hare"]
	path = cortx-hare
	url = https://github.com/Seagate/cortx-hare.git
[submodule "cortx-csm"]
	path = cortx-csm
	url = https://github.com/Seagate/cortx-csm.git
[submodule "cortx-prvsnr"]
	path = cortx-prvsnr
	url = https://github.com/Seagate/cortx-prvsnr.git
[submodule "cortx-posix"]
	path = cortx-posix
	url = https://github.com/Seagate/cortx-posix.git
[submodule "cortx-management-web"]
	path = cortx-management-web
	url = https://github.com/Seagate/cortx-management-web.git
[submodule "cortx-management"]
	path = cortx-management
	url = https://github.com/Seagate/cortx-management.git
[submodule "cortx-ha"]
	path = cortx-ha
	url = https://github.com/Seagate/cortx-ha.git
[submodule "cortx-monitor"]
	path = cortx-monitor
	url = https://github.com/Seagate/cortx-monitor.git
