* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

body {
    min-height: 100%;
    height: 100%;
    background-image: url(../img/pattern12.png);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#vdmDesktop {
    position: relative;
    display: none;
    overflow: hidden;
    color: #ffffff !important;
    margin: 0 auto;
    line-height: 20px;
    font-style: normal;
}

button {
    line-height: 20px;
}

textarea {
    border-radius: 4px;
}

.vdmTopBar {
    position: absolute;
    width: 100%;
    background-color: #000;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -line-height: 32px;
    height: 32px;
}

    .vdmTopBar .topNav {
        margin: 1px;
        text-align: right;
        padding-right: 6px;
    }

        .vdmTopBar .topNav > div > span {
            padding: 2px 6px;
            top: 2px;
            background-color: #f5f5f5;
            border-bottom-color: #b3b3b3;
            background-image: linear-gradient(to bottom, #fff, #e6e6e6);
            line-height: 20px;
        }

            .vdmTopBar .topNav > div > span:hover {
                cursor: pointer;
            }

            .vdmTopBar .topNav > div > span > i {
                color: black;
            }

            .vdmTopBar .topNav > div > span > span {
                font-size: 12px;
            }

    .vdmTopBar .topTitle {
        position: absolute;
        width: 100%;
        display: block;
        line-height: 32px;
    }

        .vdmTopBar .topTitle .titleBar {
            text-align: center;
            position: relative;
            width: 100%;
            font-size: 18px;
        }

.topVDMStatus {
    position: absolute;
    width: 100%;
    display: block;
    line-height: 32px;
}

.topMenu {
    position: absolute;
    margin: 3px;
    top: 0;
    left: 10px;
    border: 0;
    border-radius: 6px;
    width: 175px;
    line-height: 24px;
    z-index: 9999;
}

    .topMenu .dropButton {
        position: relative;
        display: block;
        background: #31AD35;
        border-color: #95CE92;
        text-align: center;
        font-size: 20px;
        color: #FFF;
        border-radius: 6px;
        width: 75px;
    }

        .topMenu .dropButton:hover {
            background: #51CD55;
            cursor: default;
        }

        .topMenu .dropButton:focus {
            outline: none;
        }

    .topMenu .dropMenu {
        display: none;
        border: 2px solid #000;
        border-radius: 6px;
        line-height: 20px;
    }
    /*
.topMenu span:focus {
  background: #3A8B4C;
}

.topMenu span:focus + ul.dropMenu,
.topMenu ul.dropMenu:hover {
    display:block;
}
*/

    .topMenu button:focus + ul.dropMenu,
    .topMenu ul.dropMenu:hover {
        display: block;
    }

    .topMenu ul.dropMenu {
        background-color: #F3F3F3;
    }

    .topMenu .dropMenu,
    .topMenu .dropMenu ul,
    .topMenu .dropMenu li,
    .topMenu .dropMenu > li > span {
        padding: 0;
        margin: 0;
        color: #000;
        font-weight: normal;
        font-size: 14px;
    }

        .topMenu .dropMenu,
        .topMenu .dropMenu ul {
            list-style: none;
        }

            .topMenu .dropMenu > li,
            .topMenu .dropMenu > li > span {
                position: relative;
                display: block;
            }

                .topMenu .dropMenu > li > span,
                .topMenu .dropMenu > li > span:hover,
                .topMenu .dropMenu > li > span:focus,
                .topMenu .dropMenu > li > span:active {
                    text-decoration: none;
                }

            .topMenu .dropMenu ul {
            }

            .topMenu .dropMenu > li > span {
                padding: 4px;
            }

            .topMenu .dropMenu li > span > span {
                position: absolute;
                left: 22px;
            }

            .topMenu .dropMenu > li.active > span > span {
            }

            .topMenu .dropMenu > li:hover > span,
            .topMenu .dropMenu > li:focus > span {
                background-color: rgba(0, 0, 0, 0.1);
                outline: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            .topMenu .dropMenu > li ul {
                border-radius: 4px;
                border: 2px solid #000;
            }

            .topMenu .dropMenu.affix {
                position: fixed;
                width: 250px;
                overflow-x: hidden;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
            }

                .topMenu .dropMenu.affix:hover {
                    overflow-y: scroll;
                }

@media (min-width: 768px) {
    body:not(.sidebar-left-mini) .topMenu .dropMenu li.active > ul,
    .topMenu .dropMenu.affix li > ul {
        position: relative;
        top: auto !important;
        left: auto !important;
        right: auto !important;
    }

    body:not(.sidebar-left-mini) .topMenu .dropMenu:not(.affix) li.active > ul {
        display: inherit;
    }

    .topMenu .dropMenu li > ul,
    .sidebar-left-mini .topMenu .dropMenu li > ul {
        position: absolute;
        top: 0;
        left: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-width: 200px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .topMenu .dropMenu:not(.affix) li > ul,
    .sidebar-left-mini .topMenu .dropMenu:not(.affix) li > ul {
        display: none;
    }

    .sidebar-left-mini .topMenu .dropMenu > li > ul {
        top: 100%;
    }

    .topMenu .dropMenu li > ul > li > ul {
        top: 0;
    }

    .side-right .topMenu .dropMenu li > ul {
        left: auto;
        right: 100%;
    }

    .topMenu .dropMenu:not(.affix) li:hover > ul {
        display: inherit;
    }

    .sidebar-left-mini .topMenu .dropMenu.affix {
        position: relative !important;
    }
}

@media (min-width: 768px) {
    .sidebar-left-mini .topMenu .dropMenu > li > span .fa {
        font-size: 18px;
    }

        .sidebar-left-mini .topMenu .dropMenu > li > span .fa.arrow {
            display: none;
        }

    .sidebar-left-mini .topMenu .dropMenu > li > span .link-title {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        position: absolute;
        left: 100%;
        top: -1px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.85);
        display: none;
        padding: 10px 30px;
    }

    .sidebar-left-mini .topMenu .dropMenu > li:hover > span > .link-title {
        display: block;
        min-width: 200px;
    }

    .sidebar-left-mini.side-right .topMenu .dropMenu > li > span .link-title {
        border-right-width: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        left: auto;
        right: 100%;
    }
}

.topMenu .dropMenu .nav-header {
    padding: 3px 15px !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.1);
    margin: 0;
    color: #ffffff !important;
}

.topMenu .dropMenu .nav-button {
    background: #222;
    margin: 0;
    color: #ffffff !important;
    -webkit-box-shadow: 0px 1px 3px #333 inset;
    box-shadow: 0px 1px 3px #333 inset;
}

.topMenu .dropMenu .nav-divider {
    height: 1rem;
    margin: 0;
    background: #484848;
    -webkit-box-shadow: 0px 1px 3px #222 inset;
    box-shadow: 0px 1px 3px #222 inset;
}

.topMenu .dropMenu .nav-last {
    height: 3px;
    margin: 0;
    background: #585858;
    -webkit-box-shadow: 0px 1px 3px #333 inset;
    box-shadow: 0px 1px 2px #333 inset;
}

.topMenu .dropMenu .fa.arrow {
    float: right;
    padding-top: 3px;
    margin-right: 15px;
}

    .topMenu .dropMenu .fa.arrow:before {
        content: "\f104";
    }

.topMenu .dropMenu .active > span > .fa.arrow:before {
    content: "\f107";
}

.topSearch {
    position: absolute;
    top: 8px;
    left: 125px;
    width: 200px;
    margin: 0;
}

    .topSearch input {
        height: 26px;
    }

    .topSearch button {
        padding: 3px 6px 3px 6px;
    }

.vdmMenu {
    position: absolute;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.vdmWindows {
    display: block;
    position: absolute;
    margin-top: 32px;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.vdmWindow {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 64px;
    left: 210px;
    width: 400px;
    height: 300px;
    border: 2px solid #222;
    background: #DDD;
    border-radius: 6px;
}

    .vdmWindow .vdmWindowHeader {
        position: absolute;
        top: 0;
        overflow: hidden;
        background-color: #4F6CB8;
        height: 18px;
        line-height: 18px;
        width: 100%;
        vertical-align: middle;
        z-index: 1;
    }

    .vdmWindow .dwConfig {
        background-color: #58583A;
    }

    .vdmWindow .vdmWindowHeader .title {
        position: absolute;
        left: 10px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
    }

    .vdmWindow .vdmWindowHeader .ctrls {
        position: absolute;
        right: 4px;
        top: -2px;
    }

        .vdmWindow .vdmWindowHeader .ctrls span {
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            color: #FF4444;
        }

        .vdmWindow .vdmWindowHeader .ctrls span:hover {
            cursor: pointer;
        }

    .vdmWindow .vdmWindowMenu {
        position: absolute;
        top: 18px;
        overflow: visible;
        width: 100%;
        z-index: 2;
    }

        .vdmWindow .vdmWindowMenu ul {
            background-color: #cfd1cf;
            border: 1px solid #b6b6b6;
            box-shadow: 0 1px 0 #fff inset;
            background-image: -webkit-linear-gradient(top,#f5f5f5,#cfd1cf);
            height: 20px;
            list-style: none outside none;
            margin: 0;
            padding-left: 8px;
        }

            .vdmWindow .vdmWindowMenu ul > li > ul {
                background-color: #E8E8E8;
                border: 1px solid #b6b6b6;
                display: none;
                height: auto;
                left: 0;
                padding: 0;
                position: absolute;
                top: 17px;
                width: 125px;
            }

            .vdmWindow .vdmWindowMenu ul > li {
                float: left;
                margin-right: 1px;
                position: relative;
            }

                .vdmWindow .vdmWindowMenu ul > li.searchBox {
                    float: right;
                }

                    .vdmWindow .vdmWindowMenu ul > li.searchBox > div {
                        display: inline;
                        color: #000;
                        font-size: 12px;
                        font-weight: bold;
                    }

                    .vdmWindow .vdmWindowMenu ul > li.searchBox > input {
                        margin-top: 1px;
                        margin-right: 1px;
                        color: #000;
                        font-size: 11px;
                        vertical-align: top;
                        border-width: 1px;
                        text-align: center;
                        line-height: 14px;
                        width: 200px;
                    }

                        .vdmWindow .vdmWindowMenu ul > li.searchBox > input:focus {
                            background-color: aqua;
                        }

                .vdmWindow .vdmWindowMenu ul > li.queryBox {
                    float: right;
                }

                    .vdmWindow .vdmWindowMenu ul > li.queryBox > div {
                        display: inline;
                        color: #000;
                        font-size: 12px;
                        font-weight: bold;
                    }

                    .vdmWindow .vdmWindowMenu ul > li.queryBox > textarea {
                        margin-right: 1px;
                        color: #000;
                        font-size: 11px;
                        vertical-align: top;
                        border-width: 1px;
                        text-align: left;
                        line-height: 14px;
                        padding: 2px;
                        width: 350px;
                        height: 19px;
                        resize: none;
                    }

                        .vdmWindow .vdmWindowMenu ul > li.queryBox > textarea:focus {
                            background-color: aqua;
                            height: 100px;
                        }

                .vdmWindow .vdmWindowMenu ul > li > span {
                    border: 1px solid transparent;
                    color: #000;
                    cursor: default;
                    display: block;
                    font: 11px Tahoma,Arial;
                    padding: 1px 14px 1px 3px;
                    position: relative;
                    z-index: 3;
                }

                .vdmWindow .vdmWindowMenu ul > li > ul > li {
                    float: none;
                    margin-right: 0;
                    padding: 1px;
                    text-indent: 10px;
                }

            .vdmWindow .vdmWindowMenu ul ul li span {
                border: 1px solid transparent;
                padding: 3px 3px 5px 2px;
            }

                .vdmWindow .vdmWindowMenu ul ul li span img {
                    border-width: 0;
                    float: left;
                    margin-right: 5px;
                    vertical-align: middle;
                }

            .vdmWindow .vdmWindowMenu ul li:hover > span,
            .vdmWindow .vdmWindowMenu ul li span:focus {
                background-color: #FFF2C8;
                border: 1px solid #BDB288;
                color: #000;
            }

        .vdmWindow .vdmWindowMenu img.close {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        .vdmWindow .vdmWindowMenu ul li span:focus + ul,
        .vdmWindow .vdmWindowMenu ul li ul:hover,
        .vdmWindow .vdmWindowMenu ul:hover + img.close {
            display: block;
        }

            .vdmWindow .vdmWindowMenu ul li span:focus,
            .vdmWindow .vdmWindowMenu ul li ul:hover > span {
                outline: 0;
                padding-bottom: 2px;
                border: 1px solid #888;
                border-bottom: 1px solid #E8E8E8;
                background-color: #B6B6B6;
            }

    .vdmWindow .vdmWindowData {
        position: absolute;
        overflow: hidden;
        background: #fff;
        width: 100%;
        top: 38px;
        bottom: 16px;
        color: #222;
        z-index: 1;
    }

        .vdmWindow .vdmWindowData input,
        .vdmWindow .vdmWindowData select {
            color: #000;
            font-size: 11px;
            vertical-align: top;
            border-width: 1px;
            line-height: 14px;
            width: initial;
            height: initial;
            padding: 1px;
            border-radius: 0;
        }

    .vdmWindow ul {
        margin: 0;
    }

    .vdmWindow .vdmWindowData::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        .vdmWindow .vdmWindowData::-webkit-scrollbar:vertical {
            width: 11px;
        }

        .vdmWindow .vdmWindowData::-webkit-scrollbar:horizontal {
            height: 11px;
        }

    .vdmWindow .vdmWindowData::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 1px solid white;
        background-color: rgba(64, 64, 64, .5);
    }

    .vdmWindow .vdmWindowData .dwPane {
        display: none;
    }

        .vdmWindow .vdmWindowData .dwPane.selected {
            display: block;
        }

    .vdmWindow .vdmWindowData .dwData.parent {
        border: none;
    }

    .vdmWindow .vdmWindowData .dwData-LeftPane {
        position: absolute;
        top: 0;
        left: 0;
        width: 110px;
        height: 100%;
        border: 1px solid #BBB;
        overflow-y: auto;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .vdmWindow .vdmWindowData .dwData::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        .vdmWindow .vdmWindowData .dwData::-webkit-scrollbar:vertical {
            width: 11px;
        }

        .vdmWindow .vdmWindowData .dwData::-webkit-scrollbar:horizontal {
            height: 11px;
        }

    .vdmWindow .vdmWindowData .dwData::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 1px solid white;
        background-color: rgba(64, 64, 64, .5);
    }

    .vdmWindow .vdmWindowData .dwData-VDiv {
        position: absolute;
        top: 0;
        left: 110px;
        width: 4px;
        height: 100%;
        background: #DDD;
        cursor: col-resize;
    }

    .vdmWindow .vdmWindowData .dwData-RightPane {
        position: absolute;
        top: 0;
        left: 114px;
        right: 0;
        height: 100%;
        border: 1px solid #BBB;
    }

    .vdmWindow .vdmWindowData .dwData-TopPane {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110px;
        border: 1px solid #BBB;
        overflow-y: auto;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .vdmWindow .vdmWindowData .dwData-HDiv {
        position: absolute;
        top: 110px;
        left: 0;
        height: 4px;
        width: 100%;
        background: #DDD;
        cursor: row-resize;
    }

    .vdmWindow .vdmWindowData .dwData-BottomPane {
        position: absolute;
        top: 114px;
        left: 0;
        bottom: 0;
        width: 100%;
        border: 1px solid #BBB;
    }

    .vdmWindow .vdmWindowFooter {
        position: absolute;
        bottom: 0;
        border-top: 1px solid #222;
        background: rgba(80, 80, 80, 0.5);
        background: #CACACA;
        overflow: hidden;
        height: 16px;
        line-height: normal;
        width: 100%;
        font-size: 14px;
        z-index: 1;
    }

        .vdmWindow .vdmWindowFooter .sizeReport {
            font-size: 10px;
            font-weight: bold;
            color: #000;
            position: absolute;
            left: 10px;
            top: 0px;
        }

        .vdmWindow .vdmWindowFooter .resize {
            color: #fff;
            padding-top: 2px;
            padding-left: 2px;
            background: #222;
            position: absolute;
            right: -7px;
            bottom: -14px;
            width: 20px;
            height: 26px;
            cursor: se-resize;
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
        }

            .vdmWindow .vdmWindowFooter .resize a,
            .vdmWindow .vdmWindowFooter .resize a:visited {
                text-decoration: none;
                color: #ddd;
            }

    .vdmWindow .vdmWindowPopover {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        top: 18px;
        left: 0;
        color: #444;
        background-color: rgba(0, 0, 0, 0.7);
    }

        .vdmWindow .vdmWindowPopover .popoverbox {
            border: 2px solid #222;
            background: #DDD;
            border-radius: 6px;
            width: 50%;
            height: 50%;
            top: 20%;
            margin: 0 auto;
            position: relative;
        }

            .vdmWindow .vdmWindowPopover .popoverbox:focus {
                outline-width: 0;
            }

.btn-group > span > i:after {
    content: " ";
    display: table;
}

ul.vdm-CollapseTree {
    list-style: none outside none;
    padding-left: 5px;
}

    /*
ul.vdm-CollapseTree > li {
  padding-top: 4px;
}
*/

    ul.vdm-CollapseTree li {
        list-style: none;
    }

        ul.vdm-CollapseTree li > span {
            line-height: 20px;
            font-size: 11px;
            padding-top: 1px;
            font-weight: normal;
            text-decoration: none;
            color: #3B4C56;
            cursor: pointer;
        }

    ul.vdm-CollapseTree > li > span {
        display: block;
        position: relative;
    }

    ul.vdm-CollapseTree li.parent > span {
        padding: 0 0 0 18px;
    }

        ul.vdm-CollapseTree li.parent > span:before {
            background-image: url("../img/expand-small-blue.png");
            content: "";
            display: block;
            height: 12px;
            left: 0;
            position: absolute;
            top: 4px;
            vertical-align: middle;
            width: 12px;
        }

    ul.vdm-CollapseTree li.active > span:before {
        background-image: url("../img/collapse-small-blue.png");
    }

    ul.vdm-CollapseTree li ul {
        border-left: 1px solid #D9DADB;
        display: none;
        margin: 0 0 0 6px;
        overflow: hidden;
        padding: 0 0 0 8px;
    }

        ul.vdm-CollapseTree li ul li {
            position: relative;
            line-height: 18px;
        }

            ul.vdm-CollapseTree li ul li:before {
                border-bottom: 1px dashed #E2E2E3;
                content: "";
                left: -20px;
                position: absolute;
                top: 12px;
                width: 15px;
            }

.vdmTopBar .led {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-yellow {
    background-color: #A90;
    box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

.led-green {
    background-color: #00FF00;
    box-shadow: #000 0 -1px 7px 1px, inset #252 0 -1px 9px, #7D0 0 2px 12px;
}

.led-blue {
    background-color: #4AB;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px;
}
