[Unit]
Description=Mero-S3 Core instance Server
Requires=mero-kernel.service
After=mero-kernel.service

[Service]
Type=forking
Restart=no
ExecStart=/opt/seagate/s3/s3startsystem.sh %i
ExecStop=/opt/seagate/s3/s3stopsystem.sh %i
TimeoutStopSec=7

[Install]
WantedBy=multi-user.target
