[Unit]
Description=Mero-S3 Core Server
Requires=mero-kernel.service
After=mero-kernel.service

[Service]
Type=forking
PIDFile=/run/s3server.pid
ExecStartPre=/usr/bin/rm -f /run/s3server.pid
ExecStart=/opt/seagate/s3/s3startsystem.sh
ExecStop=/bin/kill -s TERM $MAINPID
TimeoutStopSec=7
TimeoutAbortSec=3

[Install]
WantedBy=multi-user.target
