HTTP_PORT=3000
HTTPS_PORT=8080
NODE_ENV=production
MONGODB_URL=mongodb://localhost:27017/mydrive-db
DISABLE_EMAIL_VERIFICATION=true
DB_TYPE=s3
REMOTE_URL=
PASSWORD_ACCESS=123456
PASSWORD_REFRESH=123456
PASSWORD_COOKIE=123456

S3_ID=
S3_KEY=
S3_BUCKET=
S3_ENDPOINT=

