[Unit]
Description=S3 Background Consumer for stale oid cleanup
After=rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
Environment="PYTHONPATH=/usr/lib/python3.6/site-packages/"
Type=simple
ExecStart=/opt/seagate/s3/s3backgrounddelete/s3backgroundconsumer
ExecStop=/bin/kill -TERM $MAINPID
TimeoutSec=300
Restart=on-failure
# Other restart options: always, on-abort, etc

# The install section is needed to use
# `systemctl enable` to start on boot
# For a user service that you want to enable
# and start automatically, use `default.target`
# For system level services, use `multi-user.target`
[Install]
WantedBy=multi-user.target
