[Unit]
Description=m0d helper for %i service-FID
Requires=mero-kernel.service
Wants=mero-trace@%i.service
After=mero-kernel.service
Before=mero-trace@%i.service

[Service]
Type=simple
TimeoutStopSec=5min
Restart=no
Environment=SHELL=/bin/bash
EnvironmentFile=/etc/sysconfig/m0d-%i
Group=mero
ExecStart=/usr/libexec/mero/mero-server m0d-%i
