# Update following values appropriately.
CLOUD_NODECLASS="MyTctNodeClass"                            # tct node class
CLOUD_NAME="seagate"                                        # cloud name
CLOUD_TYPE=S3                                               # cloud type
USERNAME="AKIAJTYX36YCKQSAJT7Q"                             # access key
ENABLE="TRUE"                                               # enable cloud gateway after account creation
CLOUD_URL="http://s3.seagate.com"                           # cloud endpoint url
PWD_FILE="/tmp/secret_key"                                  # location on primary tct node where password file will be created
MPU_PARTS_SIZE=32                                           # chunk size in MB
ENC_ENABLE="False"                                          # enable encryption
ETAG_ENABLE="True"                                          # enable data integrity check
SECRET_KEY="A6k2z84BqwXmee4WUUS2oWwM/tha7Wrd4Hc/8yRt"       # secret key
SERVER_CERT_PATH="/tmp/s3.amazonaws.com.crt"                # certificate path for the self-signed certificates
FS_ROOT="/mnt/gpfs"                                         # canonical path of GPFS mount point
