---

# Prerequisites: Necessary yum repos setup, possibly jenkins_yum_repos.yml

# All S3 dependencies are listed in s3 rpm spec and will be installed
# when s3 rpm is installed.

- name: Update to latest selinux-policy (required by latest openldap)
  yum: pkg={{item}} state=latest
  with_items:
    - selinux-policy

# Required only in dev testing.
- name: Install redis
  yum:
    name: redis
    state: installed

# Keep commented for future reference
# - name: Install nginx
#   yum:
#     name: nginx
#     state: present
#
# - name: Setup nginx config
#   copy:
#     src: ./files/nginx/nginx.conf.seagate
#     dest: /etc/nginx/nginx.conf

- name: Install haproxy
  yum:
    name: haproxy
    state: present

- name: Setup haproxy config
  when: (ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat') and (ansible_distribution_major_version == '7')
  copy:
    src: ./files/haproxy/haproxy_osver7.cfg
    dest: /etc/haproxy/haproxy.cfg

- name: Setup haproxy config for RHEL/CentOS 8
  when: (ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat') and (ansible_distribution_major_version == '8')
  copy:
    src: ./files/haproxy/haproxy_osver8.cfg
    dest: /etc/haproxy/haproxy.cfg

- name: Setup haproxy 503 error code to http file
  copy:
    src: ./files/haproxy/503.http
    dest: /etc/haproxy/errors/

- name: Setup logrotate config for haproxy
  copy:
    src: ./files/haproxy/logrotate/haproxy
    dest: /etc/logrotate.d/haproxy

- name: Setup rsyslog additional configs
  copy: src={{ item.src }} dest={{ item.dest }}
  with_items:
    - { src: './files/haproxy/rsyslog.d/haproxy.conf', dest: '/etc/rsyslog.d/haproxy.conf'}
    - { src: './files/rsyslog-tcp-audit.conf', dest: '/etc/rsyslog.d/rsyslog-tcp-audit.conf'}
    - { src: './files/ldap/rsyslog.d/slapdlog.conf', dest: '/etc/rsyslog.d/slapdlog.conf'}
  notify: restart rsyslog

- name: Clean existing logrotate configuration
  file:
    state: absent
    path: /etc/cron.daily/logrotate

- name: Setup logrotate config for haproxy to run hourly
  copy:
    src: ./files/haproxy/logrotate/logrotate
    dest: /etc/cron.hourly/logrotate
    mode: preserve

- name: Enable http port in selinux
  command: setsebool httpd_can_network_connect on -P
  when: ansible_selinux.status == "enabled"

- name: Install keepalived
  yum:
    name: keepalived
    state: present

- name: Setup keepalived master config (sample, manually updated)
  copy:
    src: ./files/keepalived/keepalived.conf.master
    dest: /etc/keepalived/keepalived.conf.master

- name: Create working directory for S3 server.
  file: path=/var/seagate/s3 state=directory

- name: Update s3 logrotate entry in cron to run hourly
  copy:
    src: ./files/s3-logrotate/s3logfilerollover.sh
    dest: /etc/cron.hourly/s3logfilerollover.sh
    mode: 0755
