# Library dependencies for the cortx_dof project
# You have to install these libraries, before you can run the code:
# 'pip install -r requirements.txt'

# Python version dependency
python>=3.7

# Standard library dependencies:
# importlib.resources
# json
# os
# pickle
# random

# Additional library dependencies
boto3>=1.4.6
dofpy>=2.0.1
elasticsearch>=6.8.1
