<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>
    <log4net>
      <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
        <file value="C:\Logs\sdk-log.txt" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        </layout>
      </appender>
      <logger name="Amazon">
        <level value="DEBUG" />
        <appender-ref ref="FileAppender" />
      </logger>
    </log4net>
    <appSettings>
      <!-- Configure the SDK to use log4net -->
      <add key="AWSLogging" value="log4net" />
      <add key="AWSLogMetrics" value="true" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>